{% extends 'layout.html' %}

{% block content %}
<h2>{{ article.title }}</h3>
<p>Author: {{ article.user.username }}</p>

<p>{{ article.body }}</p>
<hr>
<ul>
    {% for comment in comments %}
    <li>{{ comment.body }} said {{ comment.user.username}}</li>
    {% endfor %}
</ul>

{% if 'username' in session %}
    <h3>Add a comment</h3>
    <form method="POST" action="{{ url_for('comments.store', article_id=article.id) }}">
        <textarea name="body" placeholder="body"></textarea><br>
        <button type="submit">Add comment</button>
    </form>
{% endif %}
{% endblock %}


