<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="#">
    <title>My Blog</title>
  </head>
  <body>
    <a href="{{ url_for('auth.register') }}">Register</a><br>
    {% if 'username' in session %}
        <a href="{{ url_for('auth.logout') }}">Log out</a><br>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Log in</a><br>
    {% endif %}
    <a href="{{ url_for('posts.index') }}">View Posts</a><br><br>

    {% block content %}{% endblock %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
