{% extends 'layout.html' %}

{% block content %}
<h2>Posts Listing</h3>
<ul>
    {% for post in posts %}
        <li><a href="{{ url_for('posts.show', id=post.id) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

{% if session.isAdmin %}
    <h3>Add new post</h3>
    <form method="POST" action="{{ url_for('posts.index') }}">
        <input type="text" name="title" placeholder="title"><br>
        <textarea name="body" placeholder="body"></textarea><br>
        <button type="submit">Submit post</button>
    </form>
{% endif %}
{% endblock %}

